.Playlist , .ListOfPlaylist{
 
  width: 50%;
  height: 57vh;
  overflow-y: scroll;
  padding: .88rem;
  background-color: rgba(10, 95, 99, 0.7);
  box-shadow: 0 4px 2px 2px #000000;
  color:rgb(248, 239, 248);
  border-radius:5px;
  font-family: monospace;
}
  
  .Playlist input {
    width: 100%;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid #6f6f6f;
    
    font-size: 1.55rem;
    color: #fff;
    font-family: monospace,sans-serif;
    margin:0 0 -10px 0;
  }
  
  .Playlist-save {
    cursor: pointer;
    width: 12rem;
    padding: 5px 0;
    border-radius: 5px;
    border-width: 0px;
   
    background-color: #6c41ec;
    text-align: center;
    font-size: 1.23rem;
    transition: background-color .25s;
    color: #fff;
    font-weight: 500;
    display: block;
    margin:   1.27rem auto;
    font-family: monospace;

  }
  
  .Playlist-save:hover {
    background-color: rgba(108, 65, 233, .7);
  }
  
  ::-webkit-scrollbar {
      width: 0px;
      background: transparent;
  }
  
  @media only screen and (max-width: 1020px) {
    .Playlist {
      width: 90%;
    }
  }